body {
  margin: 0;
}
button {
  margin-left: 10vw;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background: none;
  height: 25px;
}

p {
  margin: 0;
  padding: 10px;
}

h1 {
  margin-bottom: 40px;
}
h5 {
  margin: 2px;
  font-size: 18px;
  font-weight: normal;
}
header {
  background: linear-gradient(to bottom, skyblue, rgb(252, 80, 17));
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  width: 100vw;
} 
span {
  font-weight: 700;
}
.hidden {
  display: none;
}

#dropdown {
  width: 340px;
  background-color: lightgray;
  border-radius: 5px;
}

#display-section {
  background: linear-gradient(to top, rgb(13, 13, 198), darkblue);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#info {
  color: black;
  margin: 35px 10vw;
  width: 80vw;
  background-color: white;
  /* position: absolute; */
  border-radius: 10px;
  box-sizing: border-box;

}
#buttons-div { 
padding: 5px;

}

.buttons-visible {
  /* display: flex;
  flex-direction: row;
  align-content: center; */
  /* margin: 0 auto; */
}

#directions {
  color: black;
  padding: 5px;
  width: 80vw;
  margin: 35px 10vw 0px 10vw;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}

#accessibility {
  color: black;
  padding: 5px;
  width: 80vw;
  margin: 35px 10vw;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
}