body {
  margin: 0;
}

header {
  background: linear-gradient(to bottom, skyblue, rgb(252, 80, 17));
  /* border-bottom: 1px solid black; */
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  width: 100vw;
} 



#dropdown {
  width: 340px;
  background-color: lightgray;
  border-radius: 5px;
}

#display-section {
  background: linear-gradient(to top, rgb(13, 13, 198), darkblue);
  height: 100vh;
}